@charset "utf-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #fff4e4;
}

main, footer {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

.inner-wrapper {
	max-width: 960px;
	min-width: 800px;
	margin: 0 auto;
}

.inner-wrapper h1 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 20px 0;
	float: left;
	color: #fff;
}

header {
	overflow: auto;
	background-color: #044476;
}

header .inner-wrapper {
	padding: 0 15px;
}


nav {
	float: right;
	width: 300px;
	margin-top: 10px;
}

nav a {
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	width: 100px;
	text-align: center;
	line-height: 40px;
	float: left;
	-webkit-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

nav a:focus,
nav a:hover,
nav a:active {
	color: #c8a46d;	
}


h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #000;
	text-align: center;
	margin-top: 10px;
}

.container, .mascot-img, .contact {
	text-align: center;
}

.mascot-img img {
	margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 10px;
}

.contact img {
	padding-top: 10px;
	width: 8%;
	margin: 0 auto;
}

.contact {
	padding-bottom: 10px;
}

.container, .mascot-img {
	padding: 25px 30px;
}

.container {
	background-color: #c8a46d;

}

.container a {
	color: #044476;
	text-decoration: none;
}

.container a:focus,
.container a:hover,
.container a:active {
	color: #fff;	
}

footer {
	text-align: center;
	padding: 10px;
}

/* Form */
.form-01, label, input {
    text-align: center;
}

.form-01 img {
	width: 15%;
}

input {
	padding: 3px;
	text-align: left;
}

/* Media Queries */

/* tablet */
@media only screen and (max-width: 768px) {   

	.inner-wrapper {
		max-width: 100%;
		min-width: 100%;	
	}
	   
	main.inner-wrapper {
	  	max-width: 90%;
	  	min-width: 90%;
	  	margin: 15px auto;
	}

	.mascot-img img {
	width: 40%;
	margin-left: auto;
    margin-right: auto;
	}

}

/* phone */
@media only screen and (max-width: 680px) {	
	.inner-wrapper h1 {
		margin: 10px auto;
		text-align: center;
		float: none;
		clear: both;
	}

	nav {
		float: none;
		clear: both;
		margin: 0 auto;
	}
}

/* narrow phone */
@media only screen and (max-width: 320px) {

	

}

/* End Media Queries */